{% extends 'base.html' %}

{% block body %}

    <section class="hero">
        <h2>AI Trash Classification</h2>
        <p>Upload an image of waste and our AI model will classify if it is plastic, paper, metal, glass, or organic
            waste.</p>
        <button onclick="scrollToUpload()">Start AI Scan</button>
    </section>

    <main>
        <div class="card">
            <label class="drop">
                <p>Drag & Drop or Click to Upload Image</p>
                <input type="file" id="upload" accept="image/*">
            </label>
            <img id="preview">
            <button onclick="predict()">Analyze Waste</button>
            <div class="loader" id="loader">
                <div class="spinner"></div>
            </div>
            <div class="result" id="result">
                <h3 id="category"></h3>
                <p id="confidenceText"></p>
                <div class="bar">
                    <div class="progress" id="progress"></div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
    




